{% extends 'base.html.twig' %}

{% block title %}Edit ClearanceOrder{% endblock %}

{% block body %}
    <h1>Edit ClearanceOrder</h1>

    {{ include('clearance_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_clearance_order_index') }}">back to list</a>

    {{ include('clearance_order/_delete_form.html.twig') }}
{% endblock %}
